.margin_0 { margin: 0; }
.margin_1 { margin: 1px; }
.margin_2 { margin: 2px; }
.margin_4 { margin: 4px; }
.margin_6 { margin: 6px; }
.margin_8 { margin: 8px; }
.margin_12 { margin: 12px; }
.margin_16 { margin: 16px; }
.margin_24 { margin: 24px; }
.margin_32 { margin: 32px; }

.margin_top_0 { margin-top: 0; }
.margin_top_1 { margin-top: 1px; }
.margin_top_2 { margin-top: 2px; }
.margin_top_4 { margin-top: 4px; }
.margin_top_6 { margin-top: 6px; }
.margin_top_8 { margin-top: 8px; }
.margin_top_12 { margin-top: 12px; }
.margin_top_16 { margin-top: 16px; }
.margin_top_24 { margin-top: 24px; }
.margin_top_32 { margin-top: 32px; }

.margin_right_0 { margin-right: 0; }
.margin_right_1 { margin-right: 1px; }
.margin_right_2 { margin-right: 2px; }
.margin_right_4 { margin-right: 4px; }
.margin_right_6 { margin-right: 6px; }
.margin_right_8 { margin-right: 8px; }
.margin_right_12 { margin-right: 12px; }
.margin_right_16 { margin-right: 16px; }
.margin_right_24 { margin-right: 24px; }
.margin_right_32 { margin-right: 32px; }

.margin_bottom_0 { margin-bottom: 0; }
.margin_bottom_1 { margin-bottom: 1px; }
.margin_bottom_2 { margin-bottom: 2px; }
.margin_bottom_4 { margin-bottom: 4px; }
.margin_bottom_6 { margin-bottom: 6px; }
.margin_bottom_8 { margin-bottom: 8px; }
.margin_bottom_12 { margin-bottom: 12px; }
.margin_bottom_16 { margin-bottom: 16px; }
.margin_bottom_24 { margin-bottom: 24px; }
.margin_bottom_32 { margin-bottom: 32px; }

.margin_left_0 { margin-left: 0; }
.margin_left_1 { margin-left: 1px; }
.margin_left_2 { margin-left: 2px; }
.margin_left_4 { margin-left: 4px; }
.margin_left_6 { margin-left: 6px; }
.margin_left_8 { margin-left: 8px; }
.margin_left_12 { margin-left: 12px; }
.margin_left_16 { margin-left: 16px; }
.margin_left_24 { margin-left: 24px; }
.margin_left_32 { margin-left: 32px; }