/*
 * Copyright © 2020-2024, Simplexion, Hungary and contributors. Use of this source code is governed by the Apache 2.0 license.
 */

.padding_0 { padding: 0; }
.padding_1 { padding: 1px; }
.padding_2 { padding: 2px; }
.padding_4 { padding: 4px; }
.padding_6 { padding: 6px; }
.padding_8 { padding: 8px; }
.padding_12 { padding: 12px; }
.padding_16 { padding: 16px; }
.padding_24 { padding: 24px; }
.padding_32 { padding: 32px; }

.padding_top_0 { padding-top: 0; }
.padding_top_1 { padding-top: 1px; }
.padding_top_2 { padding-top: 2px; }
.padding_top_4 { padding-top: 4px; }
.padding_top_6 { padding-top: 6px; }
.padding_top_8 { padding-top: 8px; }
.padding_top_12 { padding-top: 12px; }
.padding_top_16 { padding-top: 16px; }
.padding_top_24 { padding-top: 24px; }
.padding_top_32 { padding-top: 32px; }

.padding_right_0 { padding-right: 0; }
.padding_right_1 { padding-right: 1px; }
.padding_right_2 { padding-right: 2px; }
.padding_right_4 { padding-right: 4px; }
.padding_right_6 { padding-right: 6px; }
.padding_right_8 { padding-right: 8px; }
.padding_right_12 { padding-right: 12px; }
.padding_right_16 { padding-right: 16px; }
.padding_right_24 { padding-right: 24px; }
.padding_right_32 { padding-right: 32px; }

.padding_bottom_0 { padding-bottom: 0; }
.padding_bottom_1 { padding-bottom: 1px; }
.padding_bottom_2 { padding-bottom: 2px; }
.padding_bottom_4 { padding-bottom: 4px; }
.padding_bottom_6 { padding-bottom: 6px; }
.padding_bottom_8 { padding-bottom: 8px; }
.padding_bottom_12 { padding-bottom: 12px; }
.padding_bottom_16 { padding-bottom: 16px; }
.padding_bottom_24 { padding-bottom: 24px; }
.padding_bottom_32 { padding-bottom: 32px; }

.padding_left_0 { padding-left: 0; }
.padding_left_1 { padding-left: 1px; }
.padding_left_2 { padding-left: 2px; }
.padding_left_4 { padding-left: 4px; }
.padding_left_6 { padding-left: 6px; }
.padding_left_8 { padding-left: 8px; }
.padding_left_12 { padding-left: 12px; }
.padding_left_16 { padding-left: 16px; }
.padding_left_24 { padding-left: 24px; }
.padding_left_32 { padding-left: 32px; }