<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2020, Simplexion, Hungary and contributors. Use of this source code is governed by the Apache 2.0 license.
-->
<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback xsd/logback.xsd">

    <!--  Target: standard out  -->

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Target: ./var/log/application.log  -->

    <appender name="ApplicationLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <file>./var/log/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>var/log/archive/application.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>400</maxHistory>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>400MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <!--  Target: ./var/log/error.log  -->

    <appender name="ErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <file>./var/log/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>var/log/archive/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>400</maxHistory>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>400MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <!--  Target: ./var/log/access.log  -->

    <appender name="AccessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"} %msg%n</pattern>
        </encoder>

        <file>./var/log/access.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>var/log/archive/access.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>400</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <!--  Routing  -->

    <root level="WARN">
        <appender-ref ref="Console"/>
        <appender-ref ref="Application"/>
        <appender-ref ref="ErrorLogFile"/>
    </root>

    <logger name="fun.adaptive.service.ServiceAccessLog" level="INFO" additivity="false">
        <appender-ref ref="AccessLogFile"/>
    </logger>

    <root level="TRACE">
        <appender-ref ref="Console"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.ktor" level="INFO"/>

</configuration>