/*
 * Copyright © 2020-2024, Simplexion, Hungary and contributors. Use of this source code is governed by the Apache 2.0 license.
 */

.width_0 { width: 0; }
.width_1_px { width: 1px; }
.width_2_px { width: 2px; }
.width_4_px { width: 4px; }
.width_6_px { width: 6px; }
.width_8_px { width: 8px; }
.width_10_px { width: 10px; }
.width_12_px { width: 12px; }
.width_14_px { width: 14px; }
.width_16_px { width: 16px; }
.width_20_px { width: 20px; }
.width_24_px { width: 24px; }
.width_28_px { width: 28px; }
.width_32_px { width: 32px; }
.width_36_px { width: 36px; }
.width_40_px { width: 40px; }
.width_44_px { width: 44px; }
.width_48_px { width: 48px; }
.width_56_px { width: 56px; }
.width_64_px { width: 64px; }
.width_80_px { width: 80px; }
.width_96_px { width: 96px; }
.width_112_px { width: 112px; }
.width_128_px { width: 128px; }
.width_144_px { width: 144px; }
.width_160_px { width: 160px; }
.width_176_px { width: 176px; }
.width_192_px { width: 192px; }
.width_208_px { width: 208px; }
.width_224_px { width: 224px; }
.width_240_px { width: 240px; }
.width_256_px { width: 256px; }
.width_288_px { width: 288px; }
.width_320_px { width: 320px; }
.width_384_px { width: 384px; }

.width_25_percent { width: 25%; }
.width_33_percent { width: 33.333333%; }
.width_40_percent { width: 40%; }
.width_50_percent { width: 50%; }
.width_66_percent { width: 66.666666%; }
.width_75_percent { width: 75%; }
.width_80_percent { width: 80%; }
.width_100_percent { width: 100%; }

.width_100_view_width { width: 100vw; }

.width_auto { width: auto; }
.width_min_content { width: min-content; }
.width_max_content { width: max-content; }
.width_fit_content { width: fit-content; }

